My workflow 3.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -320,
        0
      ],
      "id": "efcc83eb-47de-4054-94eb-570b7752a356",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app51KuQa8TpNIkuu",
          "mode": "list",
          "cachedResultName": "Seguimiento de Entregas Pendientes",
          "cachedResultUrl": "https://airtable.com/app51KuQa8TpNIkuu"
        },
        "table": {
          "__rl": true,
          "value": "tblxX5S9TqJqADAsx",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/app51KuQa8TpNIkuu/tblxX5S9TqJqADAsx"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        -112,
        0
      ],
      "id": "4e22f0ae-e8f7-4e71-b758-746782a6816b",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "9KsUT9vO0yORye3t",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.fields.Prioridad_IA}}",
                    "rightValue": "CRITICA",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2d502747-e280-43e5-a5f6-e79525073bee"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CRITICA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "047c9893-ba90-4c4b-8bf7-c93d402670c7",
                    "leftValue": "={{$json.fields.Prioridad_IA}}",
                    "rightValue": "MEDIA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MEDIA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "10befdd2-b83d-44c2-8213-5e6bdf110afb",
                    "leftValue": "={{$json.fields.Prioridad_IA}}",
                    "rightValue": "BAJA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "BAJA"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2d9bc0f5-d1be-4818-8dfd-a39c64a8420f",
                    "leftValue": "={{$json.fields.Prioridad_IA}}",
                    "rightValue": "OK",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OK"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        112,
        -32
      ],
      "id": "65cab857-2628-417d-b6f8-8cc09fb90c58",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "elizabeth.gonzalez12@gmail.com",
        "subject": "ALERTA - Entrega pendiente crítica",
        "message": "<h2>Alerta de Entrega Pendiente</h2>  <p>Se detectó una entrega con prioridad CRÍTICA.</p>  <p>Prueba de integración n8n + Airtable + Gmail.</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        -352
      ],
      "id": "068fb94a-d919-48ae-976e-5f56eb85220a",
      "name": "Send a message",
      "webhookId": "bc037223-351b-4a17-9bd8-e541febf9e18",
      "credentials": {
        "gmailOAuth2": {
          "id": "p3bFU0FXviAud3EI",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app51KuQa8TpNIkuu",
          "mode": "list",
          "cachedResultName": "Seguimiento de Entregas Pendientes",
          "cachedResultUrl": "https://airtable.com/app51KuQa8TpNIkuu"
        },
        "table": {
          "__rl": true,
          "value": "tblxX5S9TqJqADAsx",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/app51KuQa8TpNIkuu/tblxX5S9TqJqADAsx"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Cantidad_Pendiente": 0,
            "Estado": "Pendiente_Aprobacion",
            "id": "={{$node[\"Search records\"].json[\"id\"]}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "OC",
              "displayName": "OC",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ID_Registro",
              "displayName": "ID_Registro",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Fecha_OC",
              "displayName": "Fecha_OC",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Proveedor",
              "displayName": "Proveedor",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Codigo_Sakura",
              "displayName": "Codigo_Sakura",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Codigo_Proveedor",
              "displayName": "Codigo_Proveedor",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cantidad_Pendiente",
              "displayName": "Cantidad_Pendiente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha_Promesa",
              "displayName": "Fecha_Promesa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Dias_Atraso",
              "displayName": "Dias_Atraso",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Prioridad_IA",
              "displayName": "Prioridad_IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Pendiente_Aprobacion",
                  "value": "Pendiente_Aprobacion"
                },
                {
                  "name": "Aprobado",
                  "value": "Aprobado"
                },
                {
                  "name": "Rechazado",
                  "value": "Rechazado"
                },
                {
                  "name": "Error",
                  "value": "Error"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha_Analisis",
              "displayName": "Fecha_Analisis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        848,
        -352
      ],
      "id": "b0a22d6c-bf54-40a2-8720-9711bf818dfc",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "9KsUT9vO0yORye3t",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Actúa como un analista de abastecimiento.\n\nAnaliza la siguiente orden de compra pendiente:\n\nOC: {{$json.fields.OC}}\nProveedor: {{$json.fields.Proveedor}}\nDías de atraso: {{$json.fields.Dias_Atraso}}\nCantidad pendiente: {{$json.fields.Cantidad_Pendiente}}\n\nGenera una recomendación breve de seguimiento para el comprador.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        288,
        -208
      ],
      "id": "5150dd51-f4a8-484a-ad18-f10d465977d4",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        384,
        64
      ],
      "id": "d0f11932-db31-432a-822c-e7ffe6908ac5",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "t3NLmu8M7coLkTuq",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "app51KuQa8TpNIkuu",
          "mode": "list",
          "cachedResultName": "Seguimiento de Entregas Pendientes",
          "cachedResultUrl": "https://airtable.com/app51KuQa8TpNIkuu"
        },
        "table": {
          "__rl": true,
          "value": "tblxX5S9TqJqADAsx",
          "mode": "list",
          "cachedResultName": "Table 1",
          "cachedResultUrl": "https://airtable.com/app51KuQa8TpNIkuu/tblxX5S9TqJqADAsx"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Estado": "Error",
            "Cantidad_Pendiente": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "OC",
              "displayName": "OC",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ID_Registro",
              "displayName": "ID_Registro",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Fecha_OC",
              "displayName": "Fecha_OC",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Proveedor",
              "displayName": "Proveedor",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Codigo_Sakura",
              "displayName": "Codigo_Sakura",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Codigo_Proveedor",
              "displayName": "Codigo_Proveedor",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Cantidad_Pendiente",
              "displayName": "Cantidad_Pendiente",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha_Promesa",
              "displayName": "Fecha_Promesa",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Dias_Atraso",
              "displayName": "Dias_Atraso",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Prioridad_IA",
              "displayName": "Prioridad_IA",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Pendiente",
                  "value": "Pendiente"
                },
                {
                  "name": "Pendiente_Aprobacion",
                  "value": "Pendiente_Aprobacion"
                },
                {
                  "name": "Aprobado",
                  "value": "Aprobado"
                },
                {
                  "name": "Rechazado",
                  "value": "Rechazado"
                },
                {
                  "name": "Error",
                  "value": "Error"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha_Analisis",
              "displayName": "Fecha_Analisis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        640,
        -112
      ],
      "id": "56ab581b-72d1-4cfd-8fe3-a75243cbf4bc",
      "name": "Update record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "9KsUT9vO0yORye3t",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e9790deb-2651-4271-8a6a-961fbf54cfc7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "67a37dee12986ed4b76207d8d6c3c4e09b4cca23b7b6f4b87a1fbf73357f3290"
  },
  "nodeGroups": [],
  "id": "9wN7IdYebfnwZIl1",
  "tags": []
}